.table-fields{
    display: grid;

    grid-template-rows: auto auto auto ;
    grid-template-columns: 300px;
    color: #888;
    font-weight: normal;
}

p{
    background-color: #eee;
    margin: 2px;
    padding: 5px;
}

button{
    border: 0;
    margin: 10px 5px 0 0;
    padding: 10px;
}
button:hover{
    background-color: darkgray;
    cursor: pointer;
}
button:active{
    background-color: grey;
}
.edit-table{
    background-color: darkgreen;
    color:white;
}
.show-list{
    background-color: grey;
    color:white;
}