<div class="container">
    <div class="global">
	<div class="homelink">
        <button (click)="backToHome()">{{datastore.Name}} </button>
		<span class="breadcrumbs-divider">►</span>    
		<p>[{{mongoDatabase.Type}}] {{mongoDatabase.Name}}</p>
		<span class="breadcrumbs-divider">|</span>
		<p class="add" (click)="varform=1">+ Add collection</p>
		<span class="breadcrumbs-divider">|</span>		
		<button (click)="deleteMongoDatabase(mongoDatabase.Id)" class="delete"> Delete database </button>
	</div>
	<div class="annotation-list">
		<ng-container *ngFor="let ab of annotationBases; let i=index;">
			<ng-container *ngFor="let a of annotations; let i=index;">
				<ng-container *ngIf="mongoDatabase.Id===ab.BaseId && ab.AnnotationId===a.Id">
					<p class="annotation"> {{a.Description}} |<button (click)="deleteAnnotationBase(ab.Id)" class="remove-annotation">Remove</button></p>
				</ng-container>
			</ng-container>
		</ng-container>


		<span class="breadcrumbs-divider">|</span>
		<p class="add-annotation" (click)="varform=1.5">+ Add annotation</p>
		<span class="breadcrumbs-divider">|</span>		
		<p class="add-annotation" (click)="varform=2.5"> Assign annotation</p>
		<span class="breadcrumbs-divider">|</span>
		<p class="add-annotation" (click)="varform=3.5"> Manage annotations</p>
	</div>

	<form [formGroup]="annotationForm" (ngSubmit)="addAnnotation()"  *ngIf="varform === 1.5">
      		<input  type="text" placeholder="Description" formControlName="Description">
		<button> Add annotation </button>
	</form>

    	<form [formGroup]="annotationBaseForm" (ngSubmit)="addAnnotationBase()"  *ngIf="varform === 2.5">
        	<input  type="text" placeholder="Target ID" formControlName="BaseId">
			<select name="annotations" formControlName="AnnotationId">
				<ng-container *ngFor="let a of annotations; let i=index;">
				  	<option>{{a.Id}}</option> 
				</ng-container>
			</select> 
		<button> Assign annotation </button>
	</form>

	<form [formGroup]="collectionForm" (ngSubmit)="addCollection()"  *ngIf="varform === 1">
		<input  type="text" placeholder="Name of a new collection" formControlName="Name">
		<button> Add collection </button>
	</form>
	<div class="annotation-list-manage">

		<ng-container  *ngIf="varform === 3.5">
			<p>List of annotations</p>
			<ng-container *ngFor="let a of annotations; let i=index;">
					<p class="annotation-manage" (click)="varform=2.5"> {{a.Description}}|<button (click)="deleteAnnotation(a.Id)" class="delete-annotation"> Delete </button></p>
			</ng-container>
		</ng-container>
	</div>




	<div class="table-list">
		<ng-container *ngFor="let c of collections; let i=index;">
			<div *ngIf="c.DatabaseId==mongoDatabase.Id" class="table">
				<p class="table-name">[{{c.Id}}] {{c.Name}} |  <button (click)="deleteCollection(c.Id)">Delete</button></p>
				<div *ngFor="let f of c.Fields; let j=index;">
					<div class="table-fields">        
					    <p class="field-id"> {{f.Id}}</p>
					    <p class="field-name"> {{f.Name}}, </p>
					    <p class="field-type"> {{f.Type}}, </p>
					<button id="delete-field" *ngIf="varform === c.Id*(-2)" (click)="deleteField(f.Id)"> Delete field</button>
					<button id="delete-field-cancel" *ngIf="varform === c.Id*(-2)" (click)="varform=0"> Cancel </button>
					</div>	
				</div>
				<p id="add-field" (click)="varform=c.Id"> + Add field </p>
				<p id="delete-field-toggle" (click)="varform=c.Id*(-2)"> x Delete fields</p>
				<form [formGroup]="fieldForm" (ngSubmit)="addField()"  *ngIf="varform === c.Id">
					<input  type="text" placeholder="Field name" formControlName="Name">
					<select name="types" formControlName="Type">
						  <option value="int">int</option>
						  <option value="String">String</option>
					</select> 
					 <select name="types" formControlName="StructuredId">
						  <option >{{c.Id}}</option>
					</select> 
					<button> Add Field </button>
					<button (click)="varform=0" id="cancel"> Cancel </button>
				</form>
			</div>
		</ng-container>
	</div>
    </div>
</div>





