<div class="container">
    <div class="global">
	<!--           Breadcrumbs           -->
	<div class="homelink">
        <button (click)="backToHome()">{{datastore.Name}} </button>
		<span class="breadcrumbs-divider">►</span>    
		<p>[{{mongoDatabase.Type}}] {{mongoDatabase.Name}}</p>
		<span class="breadcrumbs-divider">|</span>
		<p class="add" (click)="varform=1">+ Add collection</p>
		<span class="breadcrumbs-divider">|</span>		
		<button (click)="deleteMongoDatabase(mongoDatabase.Id)" class="delete"> Delete database </button>
	</div>
	<!--           Display annotations assigned to MongoDB          -->
	<div class="annotation-list">
		<ng-container *ngFor="let ab of annotationBases; let i=index;">
			<ng-container *ngFor="let a of annotations; let i=index;">
				<ng-container *ngIf="mongoDatabase.Id===ab.BaseId && ab.AnnotationId===a.Id">
					<p class="annotation"> {{a.Description}} |<button (click)="deleteAnnotationBase(ab.Id)" class="remove-annotation">Remove</button></p>
				</ng-container>
			</ng-container>
		</ng-container>

	<!--           Annotations panel           -->
		<span class="breadcrumbs-divider">|</span>
		<p class="add-annotation" (click)="varform=1.5">+ New annotation</p>
		<span class="breadcrumbs-divider">|</span>		
		<p class="add-annotation" (click)="varform=2.5"> Assign annotation to database</p>
		<span class="breadcrumbs-divider">|</span>
		<p class="add-annotation" (click)="varform=3.5"> Manage annotations</p>
	</div>
	<!--           Form to add annotations           -->
	<form [formGroup]="annotationForm" (ngSubmit)="addAnnotation()"  *ngIf="varform === 1.5">
      		<input  type="text" placeholder="Description" formControlName="Description">
		<button [disabled]="annotationForm.pristine || annotationForm.invalid"> Add annotation </button>
	</form>
	<!--           Form to assign annotation to a MongoDB           -->
    	<form [formGroup]="annotationBaseForm" (ngSubmit)="addAnnotationBase()"  *ngIf="varform === 2.5">

			<select name="annotations" formControlName="AnnotationId">
				<ng-container *ngFor="let a of annotations; let i=index;">
				  	<option [value]="a.Id">{{a.Description}}</option> 
				</ng-container>
			</select> 
		<button [disabled]="annotationBaseForm.pristine || annotationBaseForm.invalid"> Assign annotation </button>
	</form>
	<!--           Form to add mongo collections           -->
	<form [formGroup]="collectionForm" (ngSubmit)="addCollection()"  *ngIf="varform === 1">
		<input  type="text" placeholder="Name of a new collection" formControlName="Name">
		<button [disabled]="collectionForm.pristine || collectionForm.invalid"> Add collection </button>
	</form>
	<div class="annotation-list-manage">
	<!--           Display all annotations          -->
		<ng-container  *ngIf="varform === 3.5">
			<p>List of annotations</p>
			<ng-container *ngFor="let a of annotations; let i=index;">
					<p class="annotation-manage" (click)="varform=2.5"> {{a.Description}}|<button (click)="deleteAnnotation(a.Id)" class="delete-annotation"> Delete </button></p>
			</ng-container>
		</ng-container>
	</div>
	<!--           Display collections           -->
	<div class="table-list">
		<ng-container *ngFor="let c of collections; let i=index;">
			<div *ngIf="c.DatabaseId==mongoDatabase.Id" class="table">
				<div class="table-name">[{{c.Id}}] {{c.Name}} |  <button (click)="deleteTable(t.Id)">Delete</button> |  <p class="add-annotation" (click)="varform=5.5"> Assign annotation to field or collection</p></div>
				<ng-container *ngFor="let ab of annotationBases; let i=index;">
					<ng-container *ngFor="let a of annotations; let i=index;">
						<ng-container *ngIf="c.Id===ab.BaseId && ab.AnnotationId===a.Id">
							<p class="table-annotation"> {{a.Description}} |<button (click)="deleteAnnotationBase(ab.Id)" class="delete-annotation">Remove</button></p>		
						</ng-container>
					</ng-container>
				</ng-container>
				<div *ngFor="let f of c.Fields; let j=index;">
					<div class="table-fields">        
					    <p class="field-id"> {{f.Id}}</p>
						<ng-container *ngFor="let ab of annotationBases; let i=index;">
							<ng-container *ngFor="let a of annotations; let i=index;">
								<ng-container *ngIf="f.Id===ab.BaseId && ab.AnnotationId===a.Id">
									<p class="field-annotation"> {{a.Description}} |<button (click)="deleteAnnotationBase(ab.Id)" class="delete-annotation">Remove</button></p>		
								</ng-container>
							</ng-container>
						</ng-container>
					    <p class="field-name"> {{f.Name}}, </p>
					    <p class="field-type"> {{f.Type}}, </p>
					<button id="delete-field" *ngIf="varform === c.Id*(-2)" (click)="deleteField(f.Id)"> Delete field</button>
					<button id="delete-field-cancel" *ngIf="varform === c.Id*(-2)" (click)="varform=0"> Cancel </button>
					</div>	
				</div>
				<p id="add-field" (click)="varform=c.Id"> + Add field </p>
				<p id="delete-field-toggle" (click)="varform=c.Id*(-2)"> x Delete fields</p>
	<!--           Form to add a field          -->
				<form [formGroup]="fieldForm" (ngSubmit)="addField()"  *ngIf="varform === c.Id">
					<input  type="text" placeholder="Field name" formControlName="Name">
					<select name="types" formControlName="Type">
						  <option value="int">int</option>
						  <option value="String">String</option>
					</select> 
					<select  formControlName="StructuredId" >
						  <option [value]="c.Id">{{c.Name}}</option>
					</select> 
					<button [disabled]="fieldForm.pristine || fieldForm.invalid"> Add Field </button>
					<button (click)="varform=0" id="cancel"> Cancel </button>
				</form>
	<!--           Form to add annotation to field or           -->
				<form [formGroup]="annotationBaseTableForm" (ngSubmit)="addAnnotationBaseTable()"  *ngIf="varform === 5.5">
					<select name="annotations" formControlName="BaseId">
						  	<option [value]="c.Id">{{c.Name}}</option>
							<ng-container *ngFor="let f6 of c.Fields; let i=index;">
								<option [value]="f6.Id">{{c.Name}}:{{f6.Name}}</option>
							</ng-container>
					</select> 
					<select name="annotations" formControlName="AnnotationId">
						<ng-container *ngFor="let a of annotations; let i=index;">
						  	<option [value]="a.Id">{{a.Description}}</option>  
						</ng-container>
					</select> 
					<button [disabled]="annotationBaseTableForm.pristine || annotationBaseTableForm.invalid"> Assign annotation </button>
				</form>
			</div>
		</ng-container>
	</div>
    </div>
</div>





