<div>
<h2>Add a new table</h2>   
  <div>
    <label><p>Table ID</p>
      <input [(ngModel)]="blockData.block_id" placeholder="Table ID"/>
    </label><br>
    <label><p>Table Name</p>
      <input [(ngModel)]="blockData.block_name" placeholder="Table Name"/>
    </label><br>    
      <label><p>Table Field 1</p>
      <input [(ngModel)]="blockData.fields.field_1" placeholder="Field name"/>
    </label><br>    
      <label><p>Table Field 2</p>
      <input [(ngModel)]="blockData.fields.field_1" placeholder="Field name"/>
    </label><br>    
      <label><p>Table Field 3</p>
      <input [(ngModel)]="blockData.fields.field_1" placeholder="Field name"/>
    </label><br>
  </div>

    <button class="save-table" (click)="addBlock()">Save table</button>    <button class="show-list"(click)="showList()">
     Cancel
  </button>
    
</div>