<div *ngFor="let p of schemasData; let i=index;">
    <div class="homelink">
        <button (click)="backToHome()">[PH] My new storage </button>
        <span class="breadcrumbs-divider">►</span>
        <p>[PH] Database</p>
        <span class="breadcrumbs-divider">|</span>
        <p class="add">+ Add new schema</p>
        <span class="breadcrumbs-divider">|</span>
        <p class="edit">Edit</p>
    </div>

    <p class="schema-name">{{p.name}} | <a href="http://localhost:4200/schemas/2">Details</a>  | <a href="">Edit</a> | <button (click)="deleteSchema(p)">Delete</button></p>

        <p class="table-name">Table</p> 
        <div class="table-fields">        
            <p class="field-id"> id, </p>
            <p class="field-name">name, </p>
            <p class="field-type">type, </p>
            <div class="rel-from">PK </div>
            <div class="rel-to">FK </div>
        </div>

</div>
