<div class="container">
    <div class="global">
	<div class="homelink">
        	<button (click)="backToHome()">{{datastore.Name}} </button>
		<span class="breadcrumbs-divider">►</span>    
		<button (click)="backToDb()">{{database.Name}}</button>
		<span class="breadcrumbs-divider">►</span>
		<p > {{schema.Name}}</p>
		<span class="breadcrumbs-divider">|</span>
		<p class="edit">Edit</p>
		<span class="breadcrumbs-divider">|</span>
		<p class="add">+ Add new table</p>
	</div>

	<div *ngFor="let t of tables; let i=index;">
		<div *ngIf="t.SchemaId==schema.Id" class="table">
			<p class="table-name">{{t.Name}} |  <button (click)="deleteTable()">Edit</button></p>
			<div *ngFor="let f of t.Fields; let j=index;">
				<div class="table-fields">        
				    <p class="field-id"> {{f.Id}}, </p>
				    <p class="field-name"> {{f.Name}}, </p>
				    <p class="field-type"> {{f.Type}}, </p>
				    <div class="rel-from">PK, </div>
				    <div class="rel-to">FK </div>
				</div>	
			</div>
		</div>
	</div>
    </div>
</div>



Add table
 <form [formGroup]="tableForm" (ngSubmit)="onFormSubmit()">
        <input  type="text" placeholder="Fields" formControlName="Fields">
        <input  type="text" placeholder="Name" formControlName="Name">
	<button> save </button>
 </form>

