<div *ngFor="let p of datastoreData; let i=index;">
    <div class="homelink">
        <button (click)="backToHome()">{{p.Name}} </button>
        <span class="breadcrumbs-divider">►</span>
        <p>{{p.Databases[0].Name}}</p>
        <span class="breadcrumbs-divider">►</span>
        <p>PH SCHEMA NAME</p>
        <span class="breadcrumbs-divider">|</span>
        <p class="edit">Edit</p>
        <span class="breadcrumbs-divider">|</span>
        <p class="add">+ Add new table</p>
    </div>
</div>
<div *ngFor="let p of schemasData; let j=index;">
	<div *ngFor="let t of schemasData.Tables; let i=index;">
		<p class="table-name">{{t.Name}}</p>  <p class="edit">Edit</p>
		<div class="table-fields">        
		    <p class="field-id"> {{t.Id}}, </p>
		    <p class="field-name">name, </p>
		    <p class="field-type">type, </p>
		    <div class="rel-from">PK </div>
		    <div class="rel-to">FK </div>
		</div>
	 </div>
</div>
