<div>
    <button class="show-list"(click)="showList()">
     Back to list of tables
  </button><h2>Edit {{block.name}}</h2>   
  <div>
    <label><p>Table ID</p>
      <input [(ngModel)]="blockData.block_id" placeholder="{{block.id}}"/>
    </label><br>
    <label><p>Table Name</p>
      <input [(ngModel)]="blockData.block_name" placeholder={{block.name}}/>

    </label><br>   
      <div class="table-fields" *ngFor="let x of block.fields; let i=index;">
          <label><p>Table Field 1</p>
          <input [(ngModel)]="block_field1" placeholder={{x.field_1}}/>
        </label><br>    
          <label><p>Table Field 2</p>
          <input [(ngModel)]="x.block_field2" placeholder={{x.field_2}}/>
        </label><br>    
          <label><p>Table Field 3</p>
          <input [(ngModel)]="x.block_field3" placeholder={{x.field_3}}/>
        </label><br>

    </div>
  </div>

  <button class="edit-table" (click)="updatBlock()">Update</button>
<button (click)="backToDetails()">Cancel</button>
    
</div>