<div class="container">

    <div class="global">
	<div class="homelink">
        	<button (click)="backToHome()">{{datastore.Name}} </button>
		<span class="breadcrumbs-divider">►</span> 
		<p > {{database.Name}}</p>
		<span class="breadcrumbs-divider">|</span>
		<p class="edit">Edit</p>
		<span class="breadcrumbs-divider">|</span>
		<p class="add">+ Add new schema</p>
	</div>

 <form [formGroup]="schemaForm" (ngSubmit)="onFormSubmit()">
        <input  type="text" placeholder="Name of new schema" formControlName="Name">
	<button> Add Schema </button>
 </form>
		<div *ngFor="let s of database.Schemas; let j=index;">
			<p *ngIf="s.DatabaseId==dbid" class="schema-name">{{s.Name}} | <button (click)="toSchema(database.Id, s.Id)">View</button> </p>
			<div *ngFor="let t of tables; let k=index;">
				<div *ngIf="t.SchemaId==s.Id" class="table">
					<p class="table-name">{{t.Name}} |  <button >Edit</button></p>
					<div *ngFor="let f of t.Fields; let l=index;">
						<div class="table-fields">        
						    <p class="field-id"> {{f.Id}}, </p>
						    <p class="field-name"> {{f.Name}}, </p>
						    <p class="field-type"> {{f.Type}}, </p>
						    <div class="rel-from">PK, </div>
						    <div class="rel-to">FK </div>
						</div>	
					</div>
				</div>
			</div>
		</div>

	
    </div>
</div>



