<div class="container">

    <div class="global">
	<div class="homelink">
        	<button (click)="backToHome()">{{datastore.Name}} </button>
		<span class="breadcrumbs-divider">►</span> 
		<p > [{{postgresDatabase.Type}}] {{postgresDatabase.Name}}</p>
		<span class="breadcrumbs-divider">|</span>
		<p class="add" (click)="varform=1">+ Add schema</p>
		<span class="breadcrumbs-divider">|</span>
		<button (click)="deletePostgresDatabase()" class="delete"> Delete database </button>
	</div>

	<form [formGroup]="schemaForm" (ngSubmit)="onFormSubmit()" *ngIf="varform === 1">
		<input  type="text" placeholder="Schema name" formControlName="Name">
		<button> Add schema </button>
	</form>

		<div *ngFor="let s of postgresDatabase.Schemas; let j=index;">
			<p *ngIf="s.DatabaseId==dbid" class="schema-name">{{s.Name}} | <button (click)="toSchema(datastore.Id, postgresDatabase.Id, s.Id)">View</button> </p>
			<div class="table-list">
				<div *ngFor="let t of tables; let k=index;">
					<div *ngIf="t.SchemaId==s.Id" class="table">
						<p class="table-name">[{{t.Id}}] {{t.Name}}
						<div *ngFor="let f of t.Fields; let l=index;">
							<div class="table-fields">        
							    <p class="field-id"> {{f.Id}}</p>
							    <p class="field-name"> {{f.Name}}, </p>
							    <p class="field-type"> {{f.Type}}, </p>
					<ng-container *ngFor="let k of keyRelationships; let n=index;">
						<ng-container *ngFor="let t2 of tables; let n=index;">
								<ng-container *ngFor="let f2 of t2.Fields; let j=index;">
				    					<div class="rel-from" *ngIf="k.FromId==f.Id && f2.Id==k.ToId">PK</div>
				    					<div class="rel-to" *ngIf="k.ToId==f.Id  && f2.Id==k.FromId && t2.Id==f2.StructuredId">FK from {{t2.Name}}:{{f2.Name}}</div>
								</ng-container>
						</ng-container>
					</ng-container>
							</div>	
						</div>
					</div>
				</div>
			</div>
		</div>

	
    </div>
</div>



