.container{
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
}
.global{
    grid-column: 1;
    grid-row:1; 
}
h2 button{
	border:0;
	background-color:#343434;
	margin:0;
	padding:0;
	color:white;
}
.schema-name button{
	border:0;
	background-color:white;
	margin:0;
	padding:0;
}
.table button{
	border:0;
	background-color:#838384;
	margin:0;
	padding:0;
}
button:hover{
	text-decoration: underline;
	cursor: pointer;
}


.side{
    grid-column: 2;
    grid-row:1;
    position: sticky;
    top:0;
    height: 100vh;
    right: 0;

}
.side ul{
    margin: 0 0 0 0px;
    padding: 0;
    cursor: pointer;
    list-style: none;
    cursor:pointer;
    border-left: 4px solid #39396d;
}
.side ul li{
    padding: 10px 0 10px 10px;
    margin: 0 0 0 0;
    
}
.side ul li a{
    text-decoration: none;
    display: block;
    color: black;
}

.side ul li:hover {
    background-color: #d1d1d1;
}

.side .title{
    font-size: 0.8em;
    padding: 3px;
    color:grey;
}

.container .global h2{
    background-color: #343434;
    padding: 12px;
    margin:10px 0 0 0;
    color: white;
}

.container .global h2 a{
    color: white;
    font-size: 0.8em;
    text-decoration: underline;
}

.container .global h2 a:hover{
    color: #cbcbcb;
}

/*breadcrumbs*/
.homelink{
    display:grid;
    grid-auto-columns: max-content;
    margin:0;
    font-size: 1em;
    
}
.homelink button{
    grid-row: 1;

    border: 0;
    border-right: 1px solid black;
    background-color: white;
    padding: 5px;
    margin:0;
    font-size: 1em;   
}
.homelink button:hover{
    text-decoration: underline;
    cursor: pointer;
}
.homelink p{
    grid-row: 1;
    padding: 5px;
    margin:0;
    font-size: 1em;
    font-weight: bolder;
    background-color: #39396d;
    color:white;
}

.homelink .breadcrumbs-divider{
    grid-row: 1;
    padding: 5px; 
    margin:0;
    color:lightgrey;
}
.homelink .add{
    font-size: 0.8em;
    background-color: white;
    color: darkgreen;
    display:flex;
    align-items: center;
}
.homelink .add:hover{
    cursor: pointer;
	text-decoration: underline;
    transition: 200ms;
}
.homelink .edit{
    font-size: 0.8em;
    background-color: white;

    color: darkblue;
    display:flex;
    align-items: center;
}
.homelink .edit:hover{
    cursor: pointer;
    text-decoration: underline;
    transition: 200ms;
}
.homelink .close{
    font-size: 0.8em;
    background-color: white;
    color: black;
    display:flex;
    align-items: center;
border:0;
}
.homelink .close:hover{
    cursor: pointer;
    text-decoration: underline;
    transition: 200ms;
}
/*annotations*/
.annotation-list{
    display:grid;
    grid-auto-columns: max-content;
    margin:5px 0 5px 0;
    font-size: 1em;
}
.annotation-list-manage{
    display:grid;
    grid-auto-rows: auto;
    grid-auto-columns: max-content;
    margin:15px 0 15px 0;
    font-size: 1em;
	grid-row-gap:5px;
}
.annotation-list-manage p{

	margin:0;
	padding-left:8px;
 

}
.annotation-list button, .delete-annotation{
	border:0;
	background-color: white;
	border-radius:0;
}
.annotation-list button:hover, .delete-annotation{
	cursor: pointer;
	text-decoration: underline;
	transition: 200ms;
}
.annotation-manage
{
 	grid-column:1;
    display:flex;
    align-items: center;
    margin:0 5px 0 5px;
    padding:5px;
    font-size: 1em;
    font-weight: bold;
    border: 3px solid grey;
	color:black;
}
.annotation
{
    display:flex;
    align-items: center;
 grid-row:1;
    margin:5px;
    padding:5px;
    font-size: 1em;
    font-weight: bold;
    border: 3px solid grey;
	color:black;
}
.annotation-list p{

}

.annotation-list .breadcrumbs-divider{
    display:flex;
    align-items: center;
    grid-row: 1;
    padding: 5px; 
    margin:0;
    color:lightgrey;
}
.add-annotation{
   grid-row: 1;
    padding: 5px;
    margin:0;
    font-size: 1em;
    font-weight: bolder;
    font-size: 0.8em;
    background-color: white;
    color: darkblue;
    display:flex;
    align-items: center;
}
.add-annotation:hover{
    cursor: pointer;
	text-decoration: underline;
    transition: 200ms;
}
/*titles*/
.schema-name{
    font-size: 1.1em;
    font-weight: bold;
	margin:10px 0 0 0;
}
/*links*/
a{
    text-decoration: none;
    color:#39396d;
}
a:hover{
    text-decoration: underline;
    color:#505093;
} 
.database-annotation{
	width:max-content;
	border: 3px solid grey;
	margin:0 0 20px 0;
	padding:5px;
	font-weight:bold;
}
.schema-annotation{
	width:max-content;
	border: 2px solid grey;
	margin:0;
	padding:2px;
	font-weight:bold;
}
/*collections*/
.collection{
    width: 300px;
    font-size: 1em;
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-gap:0;
    padding: 0;
}
.collection-name{
    font-size: 1em;
    font-weight: 900;
    grid-column: 1;
    color:white;
    background-color: #647b27;
    padding: 10px;
    margin:0;
}

.collection-fields{
    background-color: #e8e8e8;
    padding: 5px;
    margin: 0 0 10px 0;
}
/*tables*/
.table-list{
	display:grid;
	grid-template-columns: auto auto auto;
	grid-auto-rows: auto;
	grid-gap:20px;
}
.table{
    font-size: 1em;
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto  auto  auto;
    margin: 10px;
    grid-gap:0;
    padding: 0;
}
.table-name{
    font-size: 1em;
    font-weight: 900;
    grid-column: 1;
    color:white;
    background-color: #838384;
    padding: 7px;
    margin:0;
}
.table .table-annotation{
	border: 1px solid grey;
	margin:2px;
	padding:2px;
	font-weight:bold;
}
.table .field-annotation{
	border: 1px solid lightgrey;
grid-row:auto;
	margin:2px;
	padding:2px;
	grid-column:2;
	font-weight:bold;
}
.table-fields{
    grid-column: 1;
    display:grid;
    grid-template-columns: auto max-content max-content max-content max-content max-content 1fr ;
    grid-row-gap: 10px;
    background-color: #f9f9f9;

	border-bottom: 2px solid #f2f2f2;
}
.field-id{
    grid-column: 1;
    padding: 5px;
    margin: 0;
    color: grey;
    background-color: #f2f2f2;
}
.field-name{
    grid-column: 3;
    padding: 5px;
    margin: 0;
    font-weight: bold;
}
.field-type{
    grid-column: 4;
    padding: 5px;
    margin: 0;
    color: grey;
}
.rel-from{
    grid-column: 5;
    padding: 5px;
    margin: 0;
    color: #ad6002;

}
.rel-to{
    grid-column: 6;
    padding: 5px;
    margin: 0;
    color: darkblue;

}
/*FILES*/

.file-title{
    background-color: #343434;
    padding: 12px;
    margin: 0;
    color: white;
}

.file-path{
    background-color: #e8e8e8;
    padding: 5px;
    margin: 0;
}
.file-annotation{
    background-color: white;
    padding: 5px;
    margin: 0;
    border: 3px solid grey;
	font-weight:bold;
}

/*FORMS*/
form{
	padding:10px 0 10px 0;
}

