.container{
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
}
.global{
    grid-column: 1;
    grid-row:1; 
    
}
.side{
    grid-column: 2;
    grid-row:1;
    position: sticky;
    top:0;
    height: 100vh;
    right: 0;

}
.side ul{
    margin: 0 0 0 0px;
    padding: 0;
    cursor: pointer;
    list-style: none;
    cursor:pointer;
    border-left: 4px solid #39396d;
}
.side ul li{
    padding: 10px 0 10px 10px;
    margin: 0 0 0 0;
    
}
.side ul li a{
    text-decoration: none;
    display: block;
    color: black;
}

.side ul li:hover {
    background-color: #d1d1d1;
}

.side .title{
    font-size: 0.8em;
    padding: 3px;
    color:grey;
}

.container .global h2{
    background-color: #343434;
    padding: 12px;
    margin:10px 0 10px 0;
    color: white;
}

.container .global h2 a{
    color: white;
    font-size: 0.8em;
    text-decoration: underline;
}

.container .global h2 a:hover{
    color: #cbcbcb;
}
/*breadcrumbs*/
.homelink{
    display:grid;
    grid-auto-columns: max-content;
    margin:0;
    font-size: 1em;
    
}
.homelink button{
    grid-row: 1;

    border: 0;
    border-right: 1px solid black;
    background-color: white;
    padding: 5px;
    margin:0;
    font-size: 1em;   
}
.homelink button:hover{
    text-decoration: underline;
    cursor: pointer;
}
.homelink p{
    grid-row: 1;

    padding: 5px;
    margin:0;
    font-size: 1em;
    font-weight: bolder;
    background-color: #39396d;
    color:white;
}

.homelink .breadcrumbs-divider{
    grid-row: 1;
    padding: 5px; 
    margin:0;
    color:lightgrey;
}
.homelink .add{
    font-size: 0.8em;
    background-color: white;
    border-radius: 15px;
    color: darkgreen;
    display:flex;
    align-items: center;
}
.homelink .add:hover{
    cursor: pointer;
    background-color: darkgreen;
    color:white;
    transition: 200ms;
}
.homelink .edit{
    font-size: 0.8em;
    background-color: white;
    border-radius: 15px;
    color: darkblue;
    display:flex;
    align-items: center;
}
.homelink .edit:hover{
    cursor: pointer;
    background-color: darkblue;
    color:white;
    transition: 200ms;
}
/*titles*/
.schema-name{
    font-size: 1.1em;
    font-weight: bold;
}
/*links*/
a{
    text-decoration: none;
    color:#39396d;
}
a:hover{
    text-decoration: underline;
    color:#505093;
} 
/*collections*/
.collection{
    width: 300px;
    font-size: 1em;
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-gap:0;
    padding: 0;
}
.collection-name{
    font-size: 1em;
    font-weight: 900;
    grid-column: 1;
    color:white;
    background-color: #647b27;
    padding: 10px;
    margin:0;
}

.collection-fields{
    background-color: #e8e8e8;
    padding: 5px;
    margin: 0 0 10px 0;
}
/*tables*/
.table{
    width: max-content;
    font-size: 1em;
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    margin-bottom: 50px;
    grid-gap:0;
    padding: 0;
}
.table-name{
    font-size: 1em;
    font-weight: 900;
    grid-column: 1;
    color:white;
    background-color: #274e7b;
    padding: 10px;
    margin:0;
}
.table-fields{
    grid-column: 1;
    display:grid;
    grid-template-columns: max-content max-content max-content max-content;
    grid-row-gap: 10px;
    background-color: #e8e8e8;
    padding: 5px;
    border-bottom: 1px solid #cbcbcb;
}
.field-id{
    grid-column: 1;
    padding: 0;
    margin: 0;
    color: grey;
}
.field-name{
    grid-column: 2;
    padding: 0;
    margin: 0;
    font-weight: bold;
}
.field-type{
    grid-column: 3;
    padding: 0;
    margin: 0;
    color: grey;
}
.rel-from{
    padding: 0;
    margin: 0;
    color: #ad6002;
    font-weight: 900;
}
.rel-to{
   padding: 0;
    margin: 0;
    color: darkblue;
        font-weight: 900;
}
/*UNSTRUCTURED FILES*/
.unstruct-files{
    width: 300px;
    font-size: 1em;
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-gap:0;
    padding: 0;
}
.file-title{
    font-size: 1em;
    font-weight: 900;
    grid-column: 1;
    color:white;
    background-color: #9f3711;
    padding: 10px;
    margin:0;
}

.file-path{
    background-color: #e8e8e8;
    padding: 5px;
    margin: 0 0 10px 0;
}
