 <form [formGroup]="datastoreForm" (ngSubmit)="addDatastore()">
    <input  type="text" placeholder="Name of a new datastore" formControlName="Name">
    <button [disabled]="datastoreForm.pristine || datastoreForm.invalid"> Add Datastore </button>
 </form>
<br/>
<div *ngFor="let dst of datastores; let i=index;">
	<div class="datastore">
	    	<p class="datastore-name">{{dst.Name}}</p>
		<button class="datastore-view"(click)="toDatastore(dst.Id)">View</button>	    
		<button class="datastore-delete"(click)="deleteDatastore(dst.Id)">Delete</button>
	</div>
</div>


