/* You can add global styles to this file, and also import other style files */
body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}

.grid-container{
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}

.header{
	border-bottom: 5px solid #39396d;
	font-weight: bold;
	font-size: 0.9em;
	grid-row:1;
	grid-column: 1;
	display:grid;
	grid-template-columns:auto 1fr;
	grid-template-rows:auto;
	grid-column-gap:15px;
	align-items: center;
}
.header img{
	grid-column:1;
	height:50px;
	width:auto;
	margin:0;
	padding:10px 0 10px 70px;
}
.header p{
	color:#39396d;
	margin:0;
	grid-column:2;
	padding:25px 10px 10px 0;
}

.content-body{
    margin: 20px;
    grid-column: 1;
    grid-row:2;
}
